/* P.H. Welshimer Tabbed Searchbox */


/*----- Tabs -----*/
.tabs {
   margin-top:1em;
   width:96%;
   position:relative;
   display:inline-block;
   font-size:0.8em;
   max-width:650px
}

.tabs h2 {
   font-size:2em;
   padding-bottom:0.5em;
}


ul.tab-links {
   margin: 0;
   padding-left:0px;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
   display:block;
   clear:both;
   content:'';
}
 
.tab-links li {
   margin-bottom:-1px;
   float:left;
   list-style:none;
   width:16.666%;

}
 
.tab-links a {
   padding:9px 0;
   display:inline-block;
   background:#40abba;
   font-weight:bold;
   font-size:1.1em;
   color:#FEFEFE;
   transition:all linear 0.15s;
   text-decoration:none;
   text-align:center;
   border:1px solid black;
   width:100%; /*Fill width of li*/
   -webkit-border-top-right-radius: 2px;
   -webkit-border-top-left-radius: 2px;
   -moz-border-radius-topright: 2px;
   -moz-border-radius-topleft: 2px;
   border-top-right-radius: 2px;
   border-top-left-radius: 2px;
   border-right: none;

}

.tab-links li:last-child a {
   border-right: 1px solid black;
   -webkit-border-bottom-right-radius: 0;
   -moz-border-radius-bottomright: 0;
   border-bottom-right-radius: 0;
}
 
.tab-links a:hover {
   background:#ea7125;
   text-decoration:none;
}

.tab-links a:visited {
   color: #FEFEFE;
}

.tab-links a:hover {
   color: #fefefe;
}

.tab-links li.active a:visited {
   color: #4c4c4c;
}
 
li.active a, li.active a:hover {
  background:#f9f9f9;
  color:#4c4c4c;
  /*border-bottom:1px solid #fff;*/
  border-bottom:transparent;
}
 
/*----- Content of Tabs -----*/
.tab-content {
   padding:15px;
   background:#f9f9f9;
   height: 11em;
   min-height:11em;
   border:1px solid black; 
   border-top:none;
   overflow:hidden;
   -webkit-border-bottom-right-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -moz-border-radius-bottomright: 2px;
   -moz-border-radius-bottomleft: 2px;
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}
 
.tab {
   display:none;
   margin-bottom:3.4em;
}
 
.tab.active {
   display:block;
}
        
/*----- Form Elements -----*/
input.searchbox,
select.searchbox {
   height:2em;
   width:78%;
   font-size:1.4em;
   border:1px solid #000;
   padding-left:5px;
   vertical-align:middle;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
}

/* Display MCSearch icon */
#ebscohostsearchtext {
   background-image:url("mcsearch_150px.png");
   background-repeat:no-repeat;
   background-size: auto 90%;
   background-position: left center;
   text-indent:65px;
}

select.searchbox {
   height:2em;
   width:78%;
}

input.searchbutton {
   display:inline-block;
   height:2em;
   width: 20%;
   font-size:1.4em;
   border:1px solid #000;
   border-radius:2px;
   vertical-align:middle;
   float:right;
} input.searchbutton:hover {background-color:#ea7125; color:#eeeeee; transition:all linear 0.15s;}

/* Accordion interface on smaller screens */
@media all and (max-width:640px){
         .tabs {
            width:100%;
         }
			.tab-links li, .tab-links a {
            width:100%; 
            float:none;
            text-align:left;
         }
         .tab-links a {
            padding-left:2.5em;
            font-size:1em;
            border-right: 1px solid black;
         }
         .tab-links a:before {
            font-family: icon-font;
            content: "";
            position: absolute;
            left:1em;
         }
         ul.tab-links {
            padding-left:0;
         }
         .tabs h2 {
            font-size:1.3em;
            width:98%;
         }
         .tab-links li.active a, li.active a:visited {
            background:#ea7125;
            color:#FEFEFE !important;
            border-bottom:none;
         }
         li.active a:before {
         font-family: icon-font;
         content: "";
         position: absolute;
         left:1em;
         }
         .tab-links a:hover {
            background:#ea7125;
            color:#fefefe;
         }
         li.active a:hover {
            background:#ea7125;
            color:#fefefe;
            border-bottom:none
         }
         input.searchbutton {
            font-size:1em;
            width:25%;
         }
         input.searchbox,select.searchbox {
            font-size:1em;
            width:73%;
         }
         #ebscohostsearchtext {
            text-indent:45px;
         }
         .tab-content{
            height:8em;
         }
         .tab-links li a {
            -webkit-border-radius:0;
            -moz-border-radius:0;
            border-radius:0;
         }
         .tab-links li:last-child a {
            -webkit-border-bottom-right-radius: 2px;
            -webkit-border-bottom-left-radius: 2px;
            -moz-border-radius-bottomright: 2px;
            -moz-border-radius-bottomleft: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
         }
         .tab-links li:first-child a {
            -webkit-border-top-right-radius: 2px;
            -webkit-border-top-left-radius: 2px;
            -moz-border-radius-topright: 2px;
            -moz-border-radius-topleft: 2px;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
         }
}
